* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --small: 0.625rem;
  --normal: 1rem;
  --medium: 1.25rem;
  --large: 2rem;
  --xlarge: 2.5rem;
  --xxlarge: 4rem;
  --rm10color: #cf8f70;
  --rm5color: #a2cca0;
  --rm1color: #849bb9;
  --bodycolor: #0e182e;
  --loginbtncolor: #0b7dda;
}

/*Global*/

h1 {
  font-size: var(--xxlarge);
}

p {
  font-size: var(--normal);
}

header {
  background-color: white;
  color: var(--bodycolor);
  border-radius: 5px;
  margin: var(--large) var(--normal);
  margin-bottom: 0;
}

header h1 {
  margin: var(--small);
  font-weight: 900;
}

body {
  overflow: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "DM Sans", sans-serif;
  color: white;
  background-color: var(--bodycolor);
}

.spacer {
  flex: 1;
}

body.login-page {
  overflow: hidden;
  height: 100vh;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--small);
  margin: var(--small);
  font-size: var(--normal);
  overflow-y: hidden;
}

th {
  color: var(--bodycolor);
}

#main-page {
  flex: 1;
  overflow: auto;
}

.main-page-container {
  height: 100%;
  padding: var(--small);
  display: flex;
}

.main-page-container-top {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-auto-flow: row;
}

.main-page-subtitle {
  padding: var(--normal);
  padding-left: 0;
  padding-top: 0;
  font-size: var(--large);
}

.main-page-hero {
  margin: var(--small);
  padding: var(--normal);
  border-radius: 5px;
  height: auto;
  max-width: 100%;
  overflow: hidden;
  background:
    linear-gradient(to left, rgba(255, 255, 255, 0.7), rgba(0, 0, 50, 0.5)),
    url(sem1class.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-page-login {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr 1fr;
  grid-auto-flow: column;
  align-items: center;
  margin: 0;
  padding: var(--small);
  height: auto;
  max-width: 100%;
  overflow: hidden;
}

/*login*/

.form-group {
  margin-bottom: 15px;
}
label {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}

/* input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
} */

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #0b7dda;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: var(--medium);
  font-family: inherit;
}

.login-button:hover {
  background-color: var(--rm5color);
}

.link {
  text-align: center;
  margin-top: 15px;
}

.link a {
  color: white;
}

/*dashboard*/

#dashboard-header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  justify-content: space-between;
  gap: var(--small);
}

#dashboard-header h1 {
  flex: 1;
  margin: var(--small) var(--large);
}

#dashboard-header .logout-button {
  margin: var(--small) var(--large);
  padding: 10px 20px;
  font-size: var(--medium);
}

.dashboard-banner {
  display: flex;
  flex-wrap: wrap;
  color: var(--bodycolor);
}

.dashboard-text {
  margin-left: var(--normal);
  max-width: 600px;
}

.dashboard-container {
  display: grid;
  grid-template-rows: auto;
}

.dashboard-data,
.dashboard-box {
  border: solid 1px white;
  border-radius: 8px;
  margin: var(--normal);
  padding: var(--normal);
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--bodycolor);
  justify-content: center;
  align-items: center;
  min-width: 70vw;
}

.dashboard-data {
  background-color: white;
}

.dashboard-data h2 {
  margin: var(--small) 0;
  padding-bottom: var(--small);
  color: var(--bodycolor);
  font-size: var(--large);
}

table {
  min-width: 60vw;
  margin: var(--normal);
  table-layout: fixed;
}

table,
th,
td {
  border-collapse: collapse;
}

.dashboard-data tr,
.dashboard-data th {
  color: var(--bodycolor);
  padding: var(--small);
}

.dashboard-data thead tr {
  background-color: var(--rm5color);
}

.dashboard-data tbody tr:nth-child(even) {
  background-color: var(--rm1color);
}

.dashboard-data tbody tr:nth-child(odd) {
  background-color: whitesmoke;
}

.dashboard-data td {
  color: var(--bodycolor);
  padding: var(--small);
  font-weight: 600;
  opacity: 0.9;
}

.dashboard-data tbody {
  background-color: white;
}

.logout-button {
  display: inline-flex;
  padding: 5px 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: var(--normal);
  font-family: inherit;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  margin: var(--small);
  flex-shrink: 0;
}

.logout-button a {
  color: white;
  text-decoration: none;
}

.logout-button:hover {
  background-color: var(--rm10color);
}

/*signup*/

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--xxlarge);
  min-height: 90vh;
}

.signup-form {
  margin: var(--large);
  padding: var(--medium);
  width: 40vw;
  max-width: 800px;
  border: solid 2px white;
  border-radius: 4px;
}

.signup-form button,
.dashboard-data button {
  max-width: 280px;
}

.signup-button-container {
  display: flex;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  background-color: white;
}
input:focus,
select:focus {
  outline: none;
  border-color: #667eea;
  box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.1);
}
.error {
  background: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 5px;
  margin: 20px;
  border: 1px solid #f5c6cb;
  max-width: fit-content;
}
.success {
  background: #d4edda;
  color: #155724;
  padding: 10px;
  border-radius: 5px;
  margin: 20px;
  border: 1px solid #c3e6cb;
  max-width: fit-content;
}
